<%- include ("partials/header1.ejs")%>
<link rel="stylesheet" href="assests/css/desktop/main.css">
<link rel="stylesheet" href="assests/css/desktop/complete-signup.css">
<%- include ("partials/header2.ejs")%>
<%- include ("partials/navbar.ejs")%>
<div class="complete-main">
    <!-- ****************************************************************** -->
    <div class="complete-sub section-one">
        <div class="complete-progress-bar" style="width: 20%;"></div>
        <div class="s-item">
            <div class="s-back">
                <i class="material-icons-outlined skip-icon">arrow_left</i>
                <div class="back-text">Back</div>
            </div>
            <div class="s-content">
                <img src="assests/img/male-avatar.png" alt="male-avatar" class="avatar">
                <br>
                <button class="btn btn-primary">Upload your photo</button>
            </div>
            <div class="s-skip">
                <div class="skip-text">Skip</div>
                <i class="material-icons-outlined skip-icon">arrow_right</i>
            </div>
        </div>
    </div>
   
    <!-- ****************************************************************** -->
    <div class="complete-sub section-one">
        <div class="complete-progress-bar" style="width: 20%;"></div>
        <div class="s-item">
            <div class="s-back">
                <i class="material-icons-outlined skip-icon">arrow_left</i>
                <div class="back-text">Back</div>
            </div>
            <div class="s-content">
                <img src="assests/img/male-avatar.png" alt="male-avatar" class="avatar">
                <br>
                <button class="btn btn-primary">Upload your photo</button>
            </div>
            <div class="s-skip">
                <div class="skip-text">Skip</div>
                <i class="material-icons-outlined skip-icon">arrow_right</i>
            </div>
        </div>
    </div>
   
    <!-- ****************************************************************** -->
    <div class="complete-sub section-one">
        <div class="complete-progress-bar" style="width: 20%;"></div>
        <div class="s-item">
            <div class="s-back">
                <i class="material-icons-outlined skip-icon">arrow_left</i>
                <div class="back-text">Back</div>
            </div>
            <div class="s-content">
                <img src="assests/img/male-avatar.png" alt="male-avatar" class="avatar">
                <br>
                <button class="btn btn-primary">Upload your photo</button>
            </div>
            <div class="s-skip">
                <div class="skip-text">Skip</div>
                <i class="material-icons-outlined skip-icon">arrow_right</i>
            </div>
        </div>
    </div>
   
    <!-- ****************************************************************** -->
    <div class="complete-sub section-one">
        <div class="complete-progress-bar" style="width: 20%;"></div>
        <div class="s-item">
            <div class="s-back">
                <i class="material-icons-outlined skip-icon">arrow_left</i>
                <div class="back-text">Back</div>
            </div>
            <div class="s-content">
                <img src="assests/img/male-avatar.png" alt="male-avatar" class="avatar">
                <br>
                <button class="btn btn-primary">Upload your photo</button>
            </div>
            <div class="s-skip">
                <div class="skip-text">Skip</div>
                <i class="material-icons-outlined skip-icon">arrow_right</i>
            </div>
        </div>
    </div>
   
    <!-- ****************************************************************** -->
    <div class="complete-sub section-one">
        <div class="complete-progress-bar" style="width: 20%;"></div>
        <div class="s-item">
            <div class="s-back">
                <i class="material-icons-outlined skip-icon">arrow_left</i>
                <div class="back-text">Back</div>
            </div>
            <div class="s-content">
                <img src="assests/img/male-avatar.png" alt="male-avatar" class="avatar">
                <br>
                <button class="btn btn-primary">Upload your photo</button>
            </div>
            <div class="s-skip">
                <div class="skip-text">Skip</div>
                <i class="material-icons-outlined skip-icon">arrow_right</i>
            </div>
        </div>
    </div>
   
    <!-- ****************************************************************** -->
    <div class="complete-sub section-one">
        <div class="complete-progress-bar" style="width: 20%;"></div>
        <div class="s-item">
            <div class="s-back">
                <i class="material-icons-outlined skip-icon">arrow_left</i>
                <div class="back-text">Back</div>
            </div>
            <div class="s-content">
                <img src="assests/img/male-avatar.png" alt="male-avatar" class="avatar">
                <br>
                <button class="btn btn-primary">Upload your photo</button>
            </div>
            <div class="s-skip">
                <div class="skip-text">Skip</div>
                <i class="material-icons-outlined skip-icon">arrow_right</i>
            </div>
        </div>
    </div>
   
    <!-- ****************************************************************** -->
    <div class="complete-sub section-one">
        <div class="complete-progress-bar" style="width: 20%;"></div>
        <div class="s-item">
            <div class="s-back">
                <i class="material-icons-outlined skip-icon">arrow_left</i>
                <div class="back-text">Back</div>
            </div>
            <div class="s-content">
                <img src="assests/img/male-avatar.png" alt="male-avatar" class="avatar">
                <br>
                <button class="btn btn-primary">Upload your photo</button>
            </div>
            <div class="s-skip">
                <div class="skip-text">Skip</div>
                <i class="material-icons-outlined skip-icon">arrow_right</i>
            </div>
        </div>
    </div>
   
    </div>
    <script>
        var private_university = ["Ahram Canadian University", "Alamein University", "Alexandria Higher Institute of Engineering and Technology", "American University in Cairo", "Arab Academy for Science, Technology and Maritime Transport", "Arab Open University", "British University in Egypt", "Cairo Higher Institute for Engineering, Computer Science & Management", "Cairo Private Technology Institute", "Canadian International College", "Culture & Science City", "Delta University for Science and Technology", "Egyptian Chinese University", "Egyptian e-Learning University", "Egyptian Russian University", "El Asher University", "El Shorouk Academy", "Future Academy", "Future University in Egypt", "German University in Cairo", "Heliopolis University", "Higher Institute for Engineering and Technology in Kafr Elsheik", "Higher Technological Institute", "International Academy for Engineering & Media Sciences", "Misr Higher Institute For Engineering And Technology in Mansoura", "Misr International University", "Misr University for Science and Technology", "Modern Academy For Engineering & Technology", "Modern Academy In Maadi", "Modern Sciences and Arts University", "Modern University for Technology and Information", "MTI University", "Nahda University", "Nile University", "October 6 University", "Pharos University In Alexandria", "Science Valley Academy", "Sinai University", "Thebes Academy", "French University of Egypt", "Badr University in Cairo", "New Cairo Academy", "Akhbar elyom academy", "New Giza University"];
        var state_funded = ["Ain Shams University", "Al-Azhar University", "Alexandria University", "Assiut University", "Aswan University", "Banha University", "Beni-Suef University", "Cairo University", "Damanhour University", "Damietta University", "Egypt-Japan University of Science and Technology", "Fayoum University", "Helwan University", "Institute of Aviation Engineering and Technology", "Kafrelsheikh University", "Mansoura University", "Military Technical College", "Minia University", "Minufiya University", "Port Said University", "Sadat Academy for Management Sciences", "Sohag University", "South Valley University", "Suez Canal University", "Suez University", "Tanta University", "University of Sadat City", "University of Science and Technology at Zewail City", "Zagazig University"];
    </script>
    <%- include ("partials/footer.ejs")%>