<div class="feed-left-info">
    <div class="info-row">
        <div class="info-icon"><i class="material-icons-outlined">school</i></div>
        <div class="info-title">Studies at</div>
        <div class="info-value"><a href="#">Damanhour univerisity</a></div>
    </div>
    <div class="info-row">
        <div class="info-icon"><i class="material-icons-outlined">home_work</i></div>
        <div class="info-title">Faculty of</div>
        <div class="info-value"><a href="#">Veterinary Medicine</a></div>
    </div>
    <div class="info-row">
        <div class="info-icon"><i class="material-icons-outlined">room</i></div>
        <div class="info-title">Lives in</div>
        <div class="info-value"><a href="#">Damanhour</a></div>
    </div>
    <div class="info-row">
        <div class="info-icon"><i class="material-icons-outlined">house</i></div>
        <div class="info-title">From</div>
        <div class="info-value"><a href="#">Alexandria</a></div>
    </div>
    <div class="info-row">
        <div class="info-icon"><i class="material-icons-outlined">cake</i></div>
        <div class="info-title">Birth Date</div>
        <div class="info-value"><a href="#">1st May</a></div>
    </div>
    <div class="info-row">
        <div class="info-icon"><i class="material-icons-outlined">mood</i></div>
        <div class="info-title">Gender</div>
        <div class="info-value"><a href="#">Male</a></div>
    </div>

   
</div>