<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mo7draty</title>
    <link rel="shortcut icon" href="https://mitchell.edu/wp-content/uploads/2015/11/Icon_Academic_Support_D-01.png
     type="image/x-icon">
    <!-- *******************************CSS************************************** -->
    <link rel="stylesheet" href="assests/lib/animate.css/animate.css">
    <link rel="stylesheet" href="assests/lib/bootstrap/css/bootstrap.min.css">
    <!-- *******************************SCRIPTS********************************** -->
    <script src="assests/lib/jquery/jquery-3.4.1.min.js"></script>
    <script src="assests/lib/angularjs/angular.min.js"></script>
    <!-- *******************************FONTS************************************ -->
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext" rel="stylesheet">

    <!-- *******************************ICONS************************************ -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
