<link rel="stylesheet" href="assests/css/desktop/partials/navbar.css">
<div class="desktop-navbar">
    <div class="navbar-container">
        <div class="n-left">
            <a href="/">
                <div class="text-logo">
                    Mo7draty
                </div>
            </a>
        </div>
        <div class="n-right">
            <div class="owner-info">
                <div class="profile-img">
                    <img class="user-pic" src="assests/img/walaa.jpg" alt="">
                    <div class="user-pic-border"></div>
                </div>
                <div class="profile-name">
                    Walaa Derhab
                </div>
            </div>
            <div class="notifications">

                <div class="dropdown">

                    <div class="notification-container" id="msg-dropdown" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <div class="message-num">3</div>
                        <i class="material-icons">textsms</i>
                    </div>

                    <div class="dropdown-menu msg-dropdown-div" aria-labelledby="msg-dropdown">
                        <div class="msg-dd-header">
                            <div class="left">
                                Messages(3)
                            </div>
                            <div class="right"></div>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>


                <!-- =========================================================== -->
                <div class="dropdown">

                    <div class="notification-container" id="notification-dropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="bell-num">12</div>
                        <i class="material-icons">notifications_none</i>
                    </div>

                    <div class="dropdown-menu notification-dropdown-div" aria-labelledby="notification-dropdown">
                        <div class="not-dd-header">
                            <div class="left">
                                Notifications(12)
                            </div>
                            <div class="right"></div>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
                <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->





                <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

            </div>

        </div>
    </div>

</div>